# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
MetaStrata-venv/

# Environment variables
.env
.venv

# Others
*.log
/logs

# Vercel
.vercel

# Binaries
.bin

# Ignore settings.yaml
settings.yaml

# simulation report
simulation_report_*.html
