# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
MetaStrata-venv/

# Environment variables
.env
.venv

# Others
*.log

# Vercel
.vercel

# Environment variables
.env
