# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
MetaStrata-venv/

# Environment variables
.env
.venv

# Others
*.log
/logs

# Vercel
.vercel

# Binaries
.bin

# Ignore settings.yaml
settings.yaml

# Ignore simulation report
simulation_report_step_1.html
